
<%= form_for(@announcement, html: {class: 'form-horizontal'}) do |p| %>
   <% if @announcement.errors.any? %>
  <div id="error_explanation">
<h2><%= pluralize(@announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>
    <ul>
      <% @announcement.errors.full_messages.each do |message| %>
      <li><%= message %></li>
   <% end %>
    </ul>
  </div>
<% end %>

  <div class="field form-group">
    <%= p.label :title, class: 'col-sm-1 control-label' %>
    <div class="col-sm-11">
    <%= p.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= p.label :body, class: 'col-sm-1 control-label' %>
    <div class="col-sm-11">
      <%= p.text_area :body, class: 'form-control' %>
    </div>
  </div>

  <div class="actions form-group">
    <div class="col-sm-offset-1 col-sm-11 btn">
      <%= p.submit %>
    </div>
  </div>
<% end %>