<%= render 'modal' %>
<div class="container">
    <div class="row portfolio-cards">
        <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6 card-mobile'>
            <div class='card'>
                <%= image_tag(("pia-avatar.png"), class: 'card-img-top img-circle rounded img-fluid', alt:'card image' )%>
                <div class='card-body'>
                    <h4 class='card-title title' >Pia Guerra</h4>
                    <p class='card-text'>Pia Guerra is a Canadian comic book artist and cartoonist best known for her work as co-creator of DC/Vertigo's
                    Y - The Last Man. She has drawn for Black Canary, Hellblazer, Torchwood and Doctor Who, and is a regular contributor of cartoons for The Nib and The New Yorker.</p>
                    <%= link_to 'Meet Pia', about_pia_path, class: 'btn btn-primary' %>
                    <a href="http://hkstudio.tumblr.com/"><i class="fa fa-lg fa-tumblr" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/@PiaGuerra"><i class="fa fa-lg fa-twitter" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6 card-mobile'>
            <div class='card'>
                <%= image_tag(("ian-avatar.png"), class: 'card-img-top img-circle rounded img-fluid', alt:'card image') %>
                <div class='card-body'>
                    <h4 class='card-title title'>Ian Boothby</h4>
                    <p class='card-text'>Multiple Shuster Award, Harvey Award and Eisner Award nominee and an Eisner Award–winning comic book creator, Ian Boothby is best
                    known for his work as the lead writer on Simpsons Comics and Futurama Comics for Matt Groening's Bongo Comics.</p>
                    <%= link_to 'Meet Ian', about_ian_path, class: 'btn btn-primary' %>
                    <a href="http://www.sneakydragon.com/"><i class="fa fa-lg fa-tumblr" aria-hidden="true"></i></a>
                     <a href="https://twitter.com/@IanBoothby"><i class="fa fa-lg fa-twitter" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row featured margin">
        <div class="text-center col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h1 class='line-header'>Featured In</h1>
            <div class="row logos">
                <a href="http://www.willeisner.com/the_eisnershpritz/eisner-awards/">
                    <%= image_tag(("eisner-logo.jpg"), class: 'img-fluid logo-img', alt:'card image') %>
                </a>
                <a href="https://thenib.com/pia-guerra">
                    <%= image_tag(("nib-logo.png"), class: 'img-fluid logo-img', alt:'card image') %>
                </a>
                <a href="https://www.newyorker.com/cartoons/issue-cartoons/cartoons-from-the-october-2-2017-issue">
                    <%= image_tag(("new-yorker-logo.png"), class: 'img-fluid ny-logo', alt:'card image') %>
                </a>
                <a href="https://thenib.com/pia-guerra">
                    <%= image_tag(("harvey-logo.jpg"), class: 'img-fluid logo-img', alt:'card image') %>
                </a>
                <a href="http://harveyawards.tripod.com/">
                    <%= image_tag(("shuster-logo.jpg"), class: 'img-fluid logo-img', alt:'card image') %>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="text-center col-md-12 col-lg-12 col-sm-6 col-xs-6">
            <h1 class='line-header'>Recent Work</h1>
        </div>
    </div>

    <div class="row portfolio-cards d-flex justify-content-center">
        <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6 card-mobile'>
            <div class='card'>
                <%= image_tag(("featured-work-1.jpg"), class: 'img-fluid', alt:'card image') %>
                <div class='card-body'>
                    <h4 class='card-title title'>Futurama Cover</h4>
                    <p class='card-text'>Lorem ipsum dolor sit amet, venenatis in velit vestibulum ut dapibus, velit rutrum est duis.</p>
                    <%= link_to 'Gallery', galleries_path, class: 'btn btn-primary' %>
                </div>
            </div>
        </div>
        <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6 card-mobile'>
            <div class='card'>
                <%= image_tag(("featured-work-2.jpg"), class: 'img-fluid', alt:'card image') %>
                <div class='card-body'>
                    <h4 class='card-title title'>Trump Satire</h4>
                    <p class='card-text'>Lorem ipsum dolor sit amet, venenatis in velit vestibulum ut dapibus, velit rutrum est duis.</p>
                    <%= link_to 'Gallery', galleries_path, class: 'btn btn-primary' %>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="text-center col-md-12 col-lg-12 col-sm-6 col-xs-6 text-center">
            <h1 class="line-header" >Announcements</h1>
        </div>
    </div>

    <div class="row portfolio-cards d-flex justify-content-center">
        <% @announcements.each do |p| %>
            <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 card-mobile'>
                <div class='card'>
                    <div class='card-body'>
                        <h3 class='card-title title'><%= p.title %></h3>
                        <p class="text-muted"><%= p.created_at.strftime("%d %b %Y") %></p>
                        <p class="text-italic">By: &nbsp<%= p.user_full_name %></p>
                        <p class='card-text'><%= p.body %></p>
                        <% if can? :manage, p  %>
                            <%= link_to 'Edit', edit_announcement_path(p),class: 'btn btn-info' %>
                            <%= link_to 'Delete', announcement_path(p), method: :delete,
                                                                data:{confirm: 'Are you sure you want to delete?'},class: 'btn btn-danger'  %>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div class="back-to-top hidden">
        <i class="fa fa-5x fa-arrow-up" aria-hidden="true"></i>
    </div>
</div>