<div class="container margin">
    <div class="gallery-heading text-center">
        <h1>Credits</h1>
    </div>

    <section class="filters">
        <div class="filters-categories">
            <p class="lead">Filter Posts by Category</p>
            <div class="filters-toggles">
                <% @portfolio_categories.each do |p| %>
                    <span class="filters-toggle active" data-category="<%p.id %>"><%= p.title %>
                    <input type="checkbox" aria-label="Checkbox for following text input" checked>
                </span>
                    <% end %>
            </div>
        </div>
    </section>
    
    <% @portfolio_categories.each do |c| %>
        <div class="gallery-heading text-center">
            <h2><%= c.title %></h2>
        </div>
        <div class="row d-flex justify-content-center">
        <% @portfolios.each do |p| %>
            <% if c.id === p.portfolio_category.id %>
                <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6 card-mobile'>
                    <div class='card'>
                        <div class='card-body'>
                            <h3 class='card-title title'><%= p.title %></h3>
                            <p class="text-muted"><%= p.portfolio_category.title %></p>
                            <p class="text-muted"><%= p.created_at.strftime("%d %b %Y") %></p>
                            <p class='card-text'><%= p.body %></p>
                            <% if can? :manage, p  %>
                                <%= link_to 'Edit', edit_portfolio_path(p),class: 'btn btn-info' %>
                                <%= link_to 'Delete', portfolio_path(p), method: :delete,
                                                                    data:{confirm: 'Are you sure you want to delete?'},class: 'btn btn-danger'  %>
                            <% end %>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
        </div>
    <% end %>
</div>