<div class="container margin">
    <div class="gallery-heading text-center">
        <h1 class="line-header">Credits</h1>
    </div>

    <section class="filters">
        <div class="filters-categories">
            <p class="lead">Scroll to Section</p>
            <div class="filters-toggles">
                <% @portfolio_categories.each do |p| %>
                    <span class="btn btn-primary btn-scroll" data-category="<%=p.title %>"><%= p.title %>
                    </span>
                    <% end %>
            </div>
        </div>
    </section>
    
    <% @portfolio_categories.each do |c| %>
        <div class="gallery-heading text-center">
            <h2 class="line-header" data-category="<%=c.title %>"><%= c.title %></h2>
        </div>
        <div class="row credits-cards d-flex justify-content-center">
        <% @portfolios.each do |p| %>
            <% if c.id === p.portfolio_category.id %>
                <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6 card-mobile'>
                    <div class='card'>
                        <div class='card-body'>
                            <h3 class='card-title title'><%= p.title %></h3>
                            <p class="text-muted"><%= p.portfolio_category.title %></p>
                            <p class="text-muted"><%= p.created_at.strftime("%d %b %Y") %></p>
                            <p class='card-text'><%= p.body %></p>
                            <% if can? :manage, p  %>
                                <%= link_to 'Edit', edit_portfolio_path(p),class: 'btn btn-info' %>
                                <%= link_to 'Delete', portfolio_path(p), method: :delete,
                                                                    data:{confirm: 'Are you sure you want to delete?'},class: 'btn btn-danger'  %>
                            <% end %>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
        </div>
    <% end %>
    <div class="back-to-top hidden">
        <i class="fa fa-5x fa-arrow-up" aria-hidden="true"></i>
    </div>
</div>