<!-- About Ian page -->
<div class="container about-container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-6 col-xs-6 text-center margin">
            <h1 class="line-header">
                <%= @title %>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
            <%= image_tag(("ian.jpeg"), class: 'img-fluid about-img', alt:'card image' )%>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
            <p>
                 Ian Boothby is a multiple Shuster Award, Harvey Award and Eisner Award nominee and Eisner Award–winning comic book creator
                best known for his work as one of the main writers on The Simpsons and Futurama Comics for Bongo. He is a well-known stand-up comedian and improv artist working in Vancouver. He co-created the Jessie Award winning Free
                Willie Shakespeare for the Vancouver Theatersports League.
            </p>
            <p>
                Ian has written for several television series including CBC’s Switchback, Street Cents and Popular Mechanics for Kids. He
                is the creator of the sketch comedy series The 11th Hour, called "The funniest sketch series since SCTV” by the National
                Post as well as the creator of the TV pilots Space Arm,Vancouver PM and I Dig BC and the co-creator of Channel 92 along with
                Dean Haglund and Christine Lippa.
            </p>
            <p>
                He is the co-writer of the DVD film Casper’s Haunted Christmas. Ian founded the Canadian Comedy award-winning sketch group
                Canadian Content. He currently performs with the sketch comedy group Titmouse! and hosts the stand up comedy show 'Amuse
                Bouche'. He appeared in the Adam Sandler film Happy Gilmore and the TV series 21 Jumpstreet.
            </p>
            <p>
                Boothby is married to Y the Last Man co-creator and artist Pia Guerra.
            </p>
            <span>
                <a href="www.sneakydragon.com/" class="btn btn-outline-primary">Listen to Ian's Podcasts</a>
                <a href="http://ianboothby.tumblr.com/" class="btn btn-outline-primary">Read Ian's Blog</a>
            </span>
         </div>
        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 twitter-container">
            <div class="row twitter-heading text-center">
                    <h3>Twitter</h3>
                    <a href="https://twitter.com/@IanBoothby"><i class="fa fa-lg fa-twitter" aria-hidden="true"></i></a>
            </div>
            <div class="row twitter-body">
                <ul>
                    <% cache('ian_public_tweets', expires_in: 6.hours) do %>
                        <% TwitterApi.ian_public_tweets.each do |tweet| %>
                            <li>
                                <%= parsed_tweet tweet %>
                            </li>
                        <% end %>
                    <% end %>
                </ul>
            </div>
            <a href="https://twitter.com/@IanBoothby" class="btn btn-outline-info">View Twitter Profile</a>
        </div>
    </div>

    <div class="row about-cards">
        <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12 card-mobile'>
            <div class='card'>
                <%= image_tag(("interviews-pia.jpg"), class: 'card-img-top img-fluid', alt:'card image' )%>
                <div class='card-body'>
                    <h4 class='card-title title'>Publishing</h4>
                    <p class='card-text'>
                        <a href="https://www.cbr.com/pia-guerra-politics-editorial-cartooning-trump-bannon/">Pia Guerra Talks Trump, Politics and Editorial Cartooning</a>
                    </p>
                    <p class='card-text'>
                        <a href="https://www.cbr.com/she-hulks-fun-time-is-over-on-pia-guerras-hulk-1-variant-cover/">She-Hulk’s Fun Time is Over on Pia Guerra’s Hulk #1 Variant Cover</a>
                    </p>
                    <p class='card-text'>
                        <a href="http://www.comicbookresources.com/news/newsitem.cgi?id=1565">Vertigo's 'Last (Wo)Man' Standing:Pia Guerra Talks About Hit Series 'Y' Comic</a>
                    </p>
                    <p class='card-text'>
                        <a href="http://www.backroompodcast.com/podcast-episode/emerald-city-comicon-2010-part-4/">Backroom Comics Podcast Emerald City ComiCon 2010 Interview</a>
                    </p>
                    <p class='card-text'>
                        <a href="http://www.sequentialtart.com/archive/july03/guerra.shtml">“Y The Last Monkey":  Interview with Pia Guerra</a>
                    </p>
                    <%= link_to 'View More Posts', portfolios_path, class: 'btn btn-primary' %>
                </div>
            </div>
        </div>

        <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12 card-mobile'>
            <div class='card'>
                <%= image_tag(("broadcasting-ian.jpg"), class: 'card-img-top img-fluid', alt:'card image' )%>
                <div class='card-body'>
                    <h4 class='card-title title'>Broadcasting</h4>
                    <p class='card-text'>
                        <a href="https://www.cbr.com/pia-guerra-politics-editorial-cartooning-trump-bannon/">Pia Guerra Talks Trump, Politics and Editorial Cartooning</a>
                    </p>
                    <p class='card-text'>
                        <a href="https://www.cbr.com/she-hulks-fun-time-is-over-on-pia-guerras-hulk-1-variant-cover/">She-Hulk’s Fun Time is Over on Pia Guerra’s Hulk #1 Variant Cover</a>
                    </p>
                    <p class='card-text'>
                        <a href="http://www.comicbookresources.com/news/newsitem.cgi?id=1565">Vertigo's 'Last (Wo)Man' Standing:Pia Guerra Talks About Hit Series 'Y' Comic</a>
                    </p>
                    <p class='card-text'>
                        <a href="http://www.backroompodcast.com/podcast-episode/emerald-city-comicon-2010-part-4/">Backroom Comics Podcast Emerald City ComiCon 2010 Interview</a>
                    </p>
                    <p class='card-text'>
                        <a href="http://www.sequentialtart.com/archive/july03/guerra.shtml">“Y The Last Monkey":  Interview with Pia Guerra</a>
                    </p>
                    <%= link_to 'View Broadcasts', portfolios_path, class: 'btn btn-primary' %>
                </div>
            </div>
        </div>

        <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12 card-mobile'>
            <div class='card'>
                <%= image_tag(("comics-pia.jpg"), class: 'card-img-top img-fluid', alt:'card image' )%>
                <div class='card-body'>
                    <h4 class='card-title title'>Live Appearances</h4>
                    <p class='card-text'>
                        <a href="https://www.cbr.com/pia-guerra-politics-editorial-cartooning-trump-bannon/">Pia Guerra Talks Trump, Politics and Editorial Cartooning</a>
                    </p>
                    <p class='card-text'>
                        <a href="https://www.cbr.com/she-hulks-fun-time-is-over-on-pia-guerras-hulk-1-variant-cover/">She-Hulk’s Fun Time is Over on Pia Guerra’s Hulk #1 Variant Cover</a>
                    </p>
                    <p class='card-text'>
                        <a href="http://www.comicbookresources.com/news/newsitem.cgi?id=1565">Vertigo's 'Last (Wo)Man' Standing:Pia Guerra Talks About Hit Series 'Y' Comic</a>
                    </p>
                    <p class='card-text'>
                        <a href="http://www.backroompodcast.com/podcast-episode/emerald-city-comicon-2010-part-4/">Backroom Comics Podcast Emerald City ComiCon 2010 Interview</a>
                    </p>
                    <p class='card-text'>
                        <a href="http://www.sequentialtart.com/archive/july03/guerra.shtml">“Y The Last Monkey":  Interview with Pia Guerra</a>
                    </p>
                    <%= link_to 'View Appearances', portfolios_path, class: 'btn btn-primary' %>
                </div>
            </div>
        </div>
    </div>
</div>