<!-- Pia About page -->
<div class="container about-container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-6 col-xs-6 text-center margin">
        <h1 class="line-header">
            <%= @title %>
        </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 about-img-cont">
            <%= image_tag(("pia.jpeg"), class: 'img-fluid about-img', alt:'card image' )%>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <p>
            Pia Guerra is a Canadian comic book artist and cartoonist best known for her work as penciller and co-creator of DC/Vertigo's
            Y - The Last Man with writer Brian K. Vaughan. She is a regular contributor of political cartoons for the Nib,
            and has drawn spot cartoons for the New Yorker Magazine.
        </p>
        <p>
             She has won several awards including Spike TV’s Scream Award, a Harvey, a Shuster, and along with inker Jose Marzan Jr.
            two of the comic industry's top prize, the Eisner Award. She has also been nominated for numerous other awards including the Hugo and Prix Du Scenario from the
            Angoulême International Comics Festival.
        </p>
        <p>
            She has drawn stories for Hellblazer, Black Canary, Doctor Who, Torchwood,
            Simpson's Treehouse of Horror Comics, illustrated for White Wolf gaming manuals, produced storyboards for commercials
            and worked as a production designer on a sci-fi television pilot.
        </p>
        <p>
            Pia currently lives in Vancouver BC, and is married to the talented writer and comedian Ian Boothby.
        </p>
        <span>
            <a href="http://hkstudio.tumblr.com/" class="btn btn-outline-primary">View Tumblr Site</a>
            <a href="https://thenib.com/pia-guerra" class="btn btn-outline-primary">View The Nib Profile</a>
        </span>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 twitter-container">
            <div class="row twitter-heading text-center">
                <h3>Twitter</h3>
                <a href="https://twitter.com/@PiaGuerra"><i class="fa fa-lg fa-twitter" aria-hidden="true"></i></a>
            </div>
            <div class="row twitter-body">
                <ul>
                    <% cache('pia_public_tweets', expires_in: 6.hours) do %>
                        <% TwitterApi.pia_public_tweets.each do |tweet| %>
                            <li>
                                <%= parsed_tweet tweet %>
                            </li>
                        <% end %>
                    <% end %>
                </ul>
            </div>
            <a href="https://twitter.com/@PiaGuerra" class="btn btn-outline-info">View Twitter Profile</a>
        </div>
    </div>

        <div class="row about-cards">
            <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12 card-mobile'>
                <div class='card'>
                    <%= image_tag(("interviews-pia.jpg"), class: 'card-img-top img-fluid', alt:'card image' )%>
                    <div class='card-body'>
                        <h4 class='card-title title'>Interviews</h4>
                        <p class='card-text'>
                            <a href="https://www.cbr.com/pia-guerra-politics-editorial-cartooning-trump-bannon/">Pia Guerra Talks Trump, Politics and Editorial Cartooning</a>
                        </p>
                        <p class='card-text'>
                          <a href="https://www.cbr.com/she-hulks-fun-time-is-over-on-pia-guerras-hulk-1-variant-cover/">She-Hulk’s Fun Time is Over on Pia Guerra’s Hulk #1 Variant Cover</a>
                        </p>
                        <p class='card-text'>
                            <a href="http://www.comicbookresources.com/news/newsitem.cgi?id=1565">Vertigo's 'Last (Wo)Man' Standing:Pia Guerra Talks About Hit Series 'Y' Comic</a>
                        </p>
                        <p class='card-text'>
                          <a href="http://www.backroompodcast.com/podcast-episode/emerald-city-comicon-2010-part-4/">Backroom Comics Podcast Emerald City ComiCon 2010 Interview</a>
                        </p>
                        <p class='card-text'>
                            <a href="http://www.sequentialtart.com/archive/july03/guerra.shtml">“Y The Last Monkey":  Interview with Pia Guerra</a>
                        </p>
                        <a href="https://www.cbr.com/tag/pia-guerra/" class="btn btn-primary">View CBR Articles</a>
                    </div>
                </div>
            </div>

            <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12 card-mobile'>
                <div class='card'>
                    <%= image_tag(("covers-pia.jpg"), class: 'card-img-top img-fluid', alt:'card image' )%>
                    <div class='card-body'>
                        <h4 class='card-title title'>Covers</h4>
                        <p class='card-text'>
                            <a href="https://www.cbr.com/black-canary-5/"> Black Canary #5 Cover</a>
                        </p>
                        <p class='card-text'>
                            <a href="https://www.cbr.com/black-canary-4/"> Black Canary #4 Cover</a>
                        </p>
                        <p class='card-text'>
                            <a href="https://www.cbr.com/black-canary-5/">Elephantmen #64 (Image) May 2015</a>
                        </p>
                        <p class='card-text'>
                            <a href="https://www.cbr.com/black-canary-4/">Ninjak #2 – variant (Valiant Entertainment) April 2015</a>
                        </p>
                        <p class='card-text'>
                            <a href="https://www.cbr.com/black-canary-5/">Archer and Armstrong #24 – variant (Valiant Entertainment) September 2014</a>
                        </p>
                        <p class='card-text'>
                            <a href="https://www.cbr.com/black-canary-4/">Red Sonja #3 – variant (Dynamite) September 2013</a>
                        </p>
                        <a href="http://hkstudio.tumblr.com/" class="btn btn-primary">View Tumblr</a>
                    </div>
                </div>
            </div>

            <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12 card-mobile'>
                <div class='card'>
                    <%= image_tag(("comics-pia.jpg"), class: 'card-img-top img-fluid', alt:'card image' )%>
                    <div class='card-body'>
                        <h4 class='card-title title'>Comics</h4>
                        <p class='card-text'>
                            <a href="https://thenib.com/job-decryption?id=pia-guerra&t=author">Trump: Job Decryption</a>
                        </p>
                        <p class='card-text'>
                            <a href="https://thenib.com/blindsided?id=pia-guerra&t=author">Comic: Blindsided</a>
                        </p>
                        <p class='card-text'>
                            <a href="https://thenib.com/meanwhile-in-puerto-rico?id=pia-guerra&t=author">Meanwhile in Puerto Rico</a>
                        </p>
                        <p class='card-text'>
                            <a href="https://thenib.com/you-re-getting-sleepy?id=pia-guerra&t=author">Trump: You're Getting Sleepy</a>
                        </p>
                        <p class='card-text'>
                            <a href="https://thenib.com/job-decryption?id=pia-guerra&t=author">Trump: Job Decryption</a>
                        </p>
                        <p class='card-text'>
                            <a href="https://thenib.com/blindsided?id=pia-guerra&t=author">Comic: Blindsided</a>
                        </p>
                        <p class='card-text'>
                            <a href="https://thenib.com/meanwhile-in-puerto-rico?id=pia-guerra&t=author">Meanwhile in Puerto Rico</a>
                        </p>
                        <p class='card-text'>
                            <a href="https://thenib.com/you-re-getting-sleepy?id=pia-guerra&t=author">Trump: You're Getting Sleepy</a>
                        </p>
                        <%= link_to 'View More Comics', galleries_path, class: 'btn btn-primary' %>
                    </div>
                </div>
            </div>
        </div>
</div>