<div class="container">
    <div class="galleries">
        <% @galleries.each do |p| %>
        <div class="gallery">
            <% if can? :manage, p  %>
            <h2> <%= link_to p.title, gallery_path(p) %> </h2>
            <% else %>
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        <%= p.title %>
                    </h2>
                </div>
            </div>
            <% end %>

            <div class = "row">
                <div class = "col-md-2">
                <p>By: &nbsp<%= p.user_full_name %></p>
                </div>
                <div class = "col-md-10">
                    <%= p.created_at.strftime("%d %b %Y") %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h4>
                        <%= p.category.title %>
                    </h4>
                </div>
            </div>

            <div class = "row">
                <div class = "col-md-12 gallery-body">
                    <%= p.body %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 gallery-body">
                    <%= link_to image_tag(p.image.url(:large)), p.image.url %>
                </div>
            </div>
            <div class = "row">
                <div class = "col-md-12">
                <% if can? :manage, p  %>
                    <%= link_to 'Edit', edit_gallery_path(p),class: 'btn btn-primary' %>
                    <%= link_to 'Delete', gallery_path(p), method: :delete,
                                                        data:{confirm: 'Are you sure you want to delete?'},class: 'btn btn-danger'  %>
                <% end %>
                </div>
            </div>
        </div>  
        <% end %>
    </div>
</div>