<nav class="navbar navbar-expand-lg navbar-light bg-faded" style="background-color:#fff;">
    <span><a class="navbar-brand logo-text" href="/"><img class="logo" src="assets/logo.png" alt="Hellkitty"></a></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <% if user_signed_in? %>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                Add New
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <%= link_to 'Home Page', announcements_path, class: 'nav-link' %>
                    <%= link_to 'Add New Announcement', new_announcement_path, class: 'nav-link' %>
                    <%= link_to 'Add New Gallery Item', new_gallery_path, class: 'nav-link' %>
                    <%= link_to 'Add New Portfolio Item', new_portfolio_path, class: 'nav-link' %>
                </div>
            </li>
            <% end %>
            <li class="nav-item">
                <a  class="nav-link" data-toggle="modal" data-target="#Modal" aria-hidden="true">Modal</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                Pia Guerra
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <%= link_to 'About', about_pia_path, class: 'dropdown-item' %>
                    <%= link_to 'Gallery', galleries_path, class: 'dropdown-item' %>
                    <%= link_to 'Store', store_path, class: 'dropdown-item' %>
                    <%= link_to 'Contact', contact_path, class: 'dropdown-item' %>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                Ian Boothby
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <%= link_to 'About', about_ian_path, class: 'dropdown-item' %>
                    <%= link_to 'Portfolio', portfolios_path, class: 'dropdown-item' %>
                    <%= link_to 'Store', store_path, class: 'dropdown-item' %>
                    <%= link_to 'Contact', contact_path, class: 'dropdown-item' %>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <% if user_signed_in? %>
                <button class="btn btn-outline-warning my-2 my-sm-0" type="button"><%= link_to 'SIGN OUT', sessions_path, method: :delete %></a></button>
            <% else %>
                <button class="btn btn-outline-success my-2 my-sm-0" type="button"><%= link_to 'SIGN IN', new_session_path %></a></button>
                <button class="btn btn-outline-info my-2 my-sm-0" type="button"><%= link_to 'SIGN UP', new_user_path %></a></button>
            <% end %>
        </form>
    </div>
</nav>
<hr>